@media only screen and (max-width:1280px){

 	.program_gallery img {
    width: 380px;
	}

	.program_name{
    width: 380px;
	}

	.program:hover .program_name{
    margin-top: -238px;
    height: 222px;
	}

	.program:hover .program_name p{
	font-size: 36px;
	}

	.footer_info {
    float: left;
    margin-left: 5%;
}

footer .social {
    margin-left: 4%;
 }

 h2 {
    font-size: 32px;
  }

.info_about.one > div{
  margin:30px 0;
}




.info_about h2{
  font-size: 34px;
  margin:0 0 20px 0;
  line-height: 0.95;
}




}

  @media only screen and (max-width:1024px){
  	

h2 {
    font-size: 30px;
}


  footer .social {
    margin-left: 2%;
}

}