@import url("svg_font/css/Glyphter.css");
/*Блок с подвалом сайта = footer
В нем логотип, адрес, телефоны и другая контактная информация, ссылки на соцсети
Общий блок для всех страниц сайта*/
.lang .active-lang{
	color:#dd950a;
}
 				/*Кнопка для поднятия на верх страницы
				 Логика поведения обрабатываеться файлом scrollup.js*/

#scrollup {
	position: fixed;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	background-color: WhiteSmoke;
	border: 2px solid darkgray;
	padding: 0.3em;
	color: darkgray;
	opacity: 0.3;
	display: none;

	transition: 400ms;
	transition-timing-function: ease-in-out;
	-webkit-transition: 400ms;
	-webkit-transition-timing-function: ease-in-out;
}

.up-arrow {
	font-size: 2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#scrollup:hover {
	color: #dd950a;
	border: 2px solid #dd950a;
	opacity: 0.8;
}

.main-footer {
	min-height: 320px;
	background-image: url("../images/footer_fon.png");
	background-size: cover;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 40px;
	padding-bottom: 0;
}

.footer-top {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 45px;
}

.footer-top__2,
.footer-top__3,
.footer-top__4 {
	font-size: 22px;
	line-height: 28px;
	color: #1a1a1a;
}

.footer-margin {
	margin-bottom: 18px;
}

.footer-top__social a {
	text-decoration: none;
	margin-left: 38px;
}

.footer-top__social a:first-child {
	margin-left: 0;
}

.footer-bottom__1 {
	font-size: 14px;
	line-height: 18px;
	color: #1a1a1a;
}

.footer-bottom__2 {
	display: flex;
	justify-content: flex-start;
	font-size: 14px;
	line-height: 18px;
	color: #1a1a1a;
}

.footer-bottom__left {
	width: 390px;
	margin-right: 75px;
}

.footer-bottom__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-bottom__list a {
	color: #1a1a1a;
}

@media screen and (max-width: 360px) {
	.main-footer {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 25px;
		padding-bottom: 55px;
	}


	.footer-top {
		position: relative;
		margin-bottom: 95px;
		flex-direction: column;
	}

	.footer-top__logo {
		display: none;
	}

	.footer-top__2,
	.footer-top__3,
	.footer-top__4 {
		font-size: 14px;
		line-height: 18px;
	}

	.footer-top__2,
	.footer-top__3 {
		margin-bottom: 20px;
	}

	.footer-top__2 p:nth-child(2) {
		margin-bottom: 20px;
	}

	.footer-top__4 p:nth-child(2) {
		margin-bottom: 20px;
	}

	.footer-top__social {
		position: absolute;
		bottom: -70px;
		left: 60px;
	}

	.footer-bottom__1 {
		text-align: center;
		font-weight: bold;
		margin-bottom: 25px;
	}

	.footer-bottom__2 {
		flex-direction: column;
	}

	.footer-bottom__left {
		width: 100%;
		font-size: 12px;
		line-height: 18px;
	}

	.footer-bottom__left p {
		margin-bottom: 7px;
	}

	.footer-bottom__right {
		font-size: 12px;
		line-height: 18px;
	}

	.footer-margin {
		margin-bottom: 0;
	}
}