@import url("svg_font/css/Glyphter.css");
/*Блок с подвалом сайта = footer
В нем логотип, адрес, телефоны и другая контактная информация, ссылки на соцсети
Общий блок для всех страниц сайта*/
.lang .active-lang{
	color:#dd950a;
}

footer{
	clear: both;
	height:120px;
	margin:0 auto;
	background: url("../images/footer_fon.png") no-repeat center;
	background-size:cover;
}

.logo{
	width:20%;
	float:left;
}

.logo img{
	width: 100%;
    max-width: 220px;
}

.footer_info{
	float:left;
	margin-left:6%;
}

.footer_info p{
	margin-bottom: 20px;
}

footer .social{
	float:right;
	margin:0;
	margin-left: 6%;
	margin-top:20px;
}

footer>.social a{
    margin: 0;
    padding: 20px 30px;
}

.vk.footer{
background-size: auto 30px;
}
.vk.footer:hover{
background-size: auto 32px;
}

.fb.footer{
background-size: auto 40px;
}

.fb.footer:hover{
background-size: auto 42px;
}

.inst.footer{
background-size: auto 40px;
}

.inst.footer:hover{
background-size: auto 42px;
}

 				/*Кнопка для поднятия на верх страницы
				 Логика поведения обрабатываеться файлом scrollup.js*/

#scrollup {
	position: fixed;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	background-color: WhiteSmoke;
	border: 2px solid darkgray;
	padding: 0.3em;
	color: darkgray;
	opacity: 0.3;
	display: none;

	transition: 400ms;
	transition-timing-function: ease-in-out;
	-webkit-transition: 400ms;
	-webkit-transition-timing-function: ease-in-out;
}

.up-arrow {
	font-size: 2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#scrollup:hover {
	color: #dd950a;
	border: 2px solid #dd950a;
	opacity: 0.8;
}
