*{
	margin:0;
	padding:0;
}

body{
    color:#2d2d2d;
    font-size: 18px;
    line-height: 1.4;
	font-family: 'PT Sans', 'Courier New', 'Arial', sans-serif;
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%; 
	background-color: #e1e1e1;
	min-width: 360px;
    max-width: 1920px;
}

.box{
	width:100%;
	max-width: 1360px;
	background-color: #fff;
	margin:0 auto;
}

@media only screen and (max-width: 360px) {
	.box {
		max-width: 360px;
	}
}

h1, h2, h3, h4, h5, h6, nav a, .banner{
	font-family: 'Ubuntu', 'Courier New', 'Arial', sans-serif;
}

.conteiner, .conteiner_header, footer{
	width:calc(100% -30px);
	margin:0 auto;
	background-color: #fff;
	padding:30px;
}

@media only screen and (max-width: 360px) {
	.conteiner_header {
		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}
}

.menu-burger {
	display: none;
}

@media only screen and (max-width: 360px) {
	.menu-burger {
		display: block;
		position: absolute;
		left: 15px;
		top: 15px;

	}
}

/*Блок с шапкой сайта = header
В нем логотип, меню, телефоны, ссылки на соцсети и переключение языковой панели
Общий блок для всех страниц сайта*/

header{
	min-height: 154px;
	background-color: #fff;
}

@media only screen and (max-width: 360px) {
	header {
		width: 100%;
		padding-top: 15px;
		min-height: 30px;
		margin-bottom: 35px;
	}
}


.logo{
	width:20%;
	float:left;
}

.logo img{
	width: 100%;
    max-width: 220px;
}

@media only screen and (max-width: 360px) {
	header .logo {
		width: 133px;
		height: 58px;
	}

	.logo img {
		width: 100%;
		height: 100%;
	}
}

.header_info{
	width:80%;
	float: left;
	text-align: right;
}

@media only screen and (max-width: 360px) {
	.header_info {
		width: 100%;
		display: none;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
	}
}

				 /*Меню, в том числе class .active, привязывается к нужному пункту меню при клике на нем 
				 и таким образом отоброжает активное состояние кнопки меню в виде нижнего подчеркивания разноцветной линией
				 Логика поведения обрабатываеться файлом menuActive.js*/

nav{
	clear: both;
	margin-left: 60px;
}



nav ul {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}

nav ul li {
display: inline-block;
text-align: center;
}


nav ul li a{
	
	line-height: 60px;
	text-decoration:none;
	text-transform: uppercase;
	color:#2d2d2d;
}

nav ul li a:hover{
	color:#dd950a;
}

.active{
	padding-bottom: 10px;
	background: url("../images/menu_line.png");
	background-repeat: no-repeat;
	background-position: bottom;
    background-size: 100% 4px;
    color:#2d2d2d;
}
			/*Блок с контактной информацией - телефоны */	

.contacts{
	height: 40px;
}

@media only screen and (max-width: 360px) {
	.contacts {
		width: 100%;
		display: flex;
		flex-direction: column;
		min-height: 140px;
		align-items: center;
		justify-content: flex-start;
	}
}

.contacts div{
	float:right;
}


.tel p{
	background: url(../images/phone.png) no-repeat left center;
    padding: 0px 0px 0px 40px;
	background-size: contain;
}

.tel p:last-child {
	background: none;
}


			/*Блок с переключением языковой панели */	

.lang a{
	text-decoration: none;
	color:#2d2d2d;
	text-transform: uppercase;
}

			/*Блок со ссылками на социальные сети */	

.social{
	margin: 0 90px;
}

@media only screen and (max-width: 360px) {
	.social {
		display: flex;
		min-height: 60px;
		margin: 0;
	}
}

.social a{
    margin: 0 6px;
    padding: 10px 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.vk{
background-image:url("../images/vk.png");
background-size: auto 20px;
}
.vk:hover{
background-size: auto 22px;
-webkit-transform: scale(1.1);
	ms-transform: scale(1.1);
 	transform: scale(1.1);
}

.fb{
background-image:url("../images/fb.png");
background-size: auto 26px;
}

.fb:hover{
background-size: auto 28px;
-webkit-transform: scale(1.1);
	ms-transform: scale(1.1);
 	transform: scale(1.1);
}

.inst{
background-image:url("../images/instaa.png");
background-size: auto 26px;
}

.inst:hover{
background-size: auto 28px;
-webkit-transform: scale(1.1);
	ms-transform: scale(1.1);
 	transform: scale(1.1);
}


@media only screen and (max-width: 360px) {
	#menu {
		margin: 0;
	}
}

header .js-toggle {
	display: flex;
}


@media only screen and (max-width: 860px) {
	.conteiner_header {
		display: flex;
		flex-direction: column;
		padding: 0;
		padding-top: 15px;
		align-items: center;
		justify-content: center;
	}

	.logo {
		margin-bottom: 15px;
	}

	.contacts {
		min-height: 40px;
		display: flex;
		align-items: center;
	}

	#menu {
		margin-left: 0;
	}
}

@media only screen and (max-width: 760px) {
	.contacts {
		position: relative;
		flex-direction: column;
	}

	.lang {
		position: absolute;
	}

	.contacts div {
		float: none;
	}

	.social {
		margin: 0;
		margin-bottom: 15px;
	}

	nav ul {
		flex-direction: column;
		margin-top: 30px;
	}
}


@media only screen and (max-width: 360px) {
	nav ul {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 80px;

	}
}