  
/*Блок с главным контентом*/

.conteiner{
	padding: 0px;

}

h1{
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
	padding: 30px 0;
	border-top:2px solid #acacac;
	font-weight: 400;
}

.info_about h2{
	font-family: 'PT Sans', 'Courier New', 'Arial', sans-serif;
	font-size: 36px;
	margin: 0 0 30px 0;
	line-height: 0.95;
}

.info_about .hTwo{
	margin-top: 30px;
}

article ul{
	margin-left: 20px;
}

.info_about{
	clear:both;
	width:100%;
	text-align: justify;
}

.info_about .Hthree{
	margin-bottom:10px;
}

.info_about>div{
	width:46%;
	float:left;
}

.info_about.one>div{
	margin: 30px 0;
}


.info_about.two>div{
	margin: 40px 0;
}


.info_about.three>div {
    margin: 8px 0;
}

.info_about>img{
	width:50%;
	float:left;
}


.info_about.one,.info_about.three{
	overflow: hidden;
	background-color: #f1fdf9;
}


.info_about>div{
	padding:0 2%;
}


.info_about>div>p{
	margin:10px 0;

}

.block_ytastnikam{
	clear:both;
	overflow: hidden;
	text-align: center;
}

.block_ytastnikam h2 {
	font-family: 'PT Sans', 'Courier New', 'Arial', sans-serif;
	font-size: 36px;
	margin:60px 0 40px 0;
}


.block_ytastnik>div{
	float:left;
	width:22%;
	text-align: center;
}

.block_ytastnik.one>div{
	margin:0 11% 0 0;
}

.block_ytastnik.two>div{
	margin:0 0 0 11%;
}

.block_ytastnik p{
	padding:20px 0;
}

.arrong.left{
	float:left;
	margin:0 0 -30px 20px;
}

.arrong.right{
	float:right;
	margin:0 20px -30px 0;
}

.block_ytastnik.two img{
	display: block;
    margin: 0 auto;
    clear: both;
}

.kontact_komanda{
	margin:100px 30px 60px 30px;
}


@media only screen and (max-width: 1280px){

	body{
		line-height: 1.2;
	}

	.info_about.one>div {
	    margin: 35px 0;
	}

	.info_about.three>div {
   		margin: 20px 0;
	}


}



@media screen and (max-width: 1024px) {
	.info_about.one {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.info_about.one>div {
		margin: 0;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.info_about.two {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.info_about.two>div {
		margin: 0;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.info_about.three {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.info_about.three>div {
		margin: 0;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media screen and (max-width: 760px) {
	.info_about.one {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

	}

	.info_about.one>div {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		width: 95%;
		padding: 0;
		margin-bottom: 15px;
	}

	.info_about.one>img {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		width: 95%;
		margin-bottom: 15px;
	}

	.info_about.two {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.info_about.two>div {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		width: 95%;
		padding: 0;
		margin-bottom: 15px;
	}

	.info_about.two>img {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		width: 95%;
		margin-bottom: 15px;
	}

	.info_about.three {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.info_about.three>div {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		width: 95%;
		padding: 0;
		margin-bottom: 15px;
	}

	.info_about.three>img {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		width: 95%;
		margin-bottom: 15px;
	}

	.block_ytastnik.one {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.block_ytastnik.one>div {
		margin: 0;
		width: 100%;
	}

	.block_ytastnik.two {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.block_ytastnik.two>div {
		margin: 0;
		width: 100%;
	}

	.arrong {
		display: none;
	}
}