  
/*Блок с главным контентом*/

.conteiner{
	padding: 0 30px 30px 30px;

}

h1{
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
	padding: 30px 0;
	border-top:2px solid #acacac;
	border-bottom:2px solid #acacac;
	font-weight: 400;
}

.info_about h2{
	font-family: 'PT Sans', 'Courier New', 'Arial', sans-serif;
	font-size: 36px;
	margin: 0 0 30px 0;
	line-height: 0.95;
}

article ul{
	margin-left: 20px;
}

.info_about{
	clear:both;
	width:100%;
	text-align: justify;
}

.info_about>div{
	width:48%;
	float:left;
}

.info_about.one>div{
	margin: 20px 0;
}

.info_about.two>div{
	margin: 50px 0;
}

.info_about.three>div {
    margin: 50px 0;
}

.info_about>img{
	width:50%;
	float:left;
}

.info_about.one>div,.info_about.three>div{
	padding-left:2%;
}
.info_about.two>div{
	padding-right:2%;
}

.info_about>div>p{
	margin:10px 0;

}

.block_vznos{
	overflow: hidden;
	clear:both;
	width:1130px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

.block_vznos h2 {
	font-family: 'PT Sans', 'Courier New', 'Arial', sans-serif;
	font-size: 36px;
}

.block_vznos>h2{
	margin:60px 0 40px 0;
} 

.vznos{
	float:left;
	width:180px;
}

.vznos.math_operator{
	font-family: 'Ubuntu', 'Courier New', 'Arial', sans-serif;
    font-size: 60px;
    width: 10px;
    padding: 10px 20px;
}


.math_operator.one{
	padding: 10px 30px;
}

.vznos img{
	height:90px;
} 

.vznos_symma{
	font-family: 'Ubuntu', 'Courier New', 'Arial', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.vznos_line, .vznos_symma.line{
	border-bottom: 3px solid #dd950a;
    width: 130px;
    margin: auto;
}

.vznos_comment{
	font-weight: bold;
	font-size: 15px;
}


@media only screen and (max-width: 1280px){

	body{
		line-height: 1.2;
	}

	.info_about.one>div {
	    margin: 30px 0;
	}

	.info_about.two>div {
   		margin: 50px 0;
	}

	.info_about.three>div {
   		margin: 50px 0;
	}

}
