  
/*Блок с главным контентом*/

.conteiner{
	padding: 0px;

}

h1{
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
	padding: 30px 0;
	border-top:2px solid #acacac;
	font-weight: 400;
}



.info_about h2{
	font-family: 'PT Sans', 'Courier New', 'Arial', sans-serif;
	font-size: 36px;
	margin: 0 0 30px 0;
	line-height: 0.95;
}

.info_about .hTwo{
	margin-top: 30px;
}

.info_about{
	clear:both;
	width:100%;
	text-align: justify;
}

.info_about>div{
	width:46%;
	float:left;
}

.info_about.one>div{
	margin: 30px 0;
}


.info_about.two>div{
	margin: 30px 0;
}


.info_about>img{
	width:50%;
	float:left;
}

.info_about.one{
	overflow: hidden;
	background-color: #feffc3;
}

.block_ytastnik.two{
	clear:both;
}

.info_about>div{
	padding:0 2%;
}


.info_about>div>p{
	margin:7px 0;

}

.block_ytastnikam{
	clear:both;
	overflow: hidden;
	text-align: center;
}

.block_ytastnikam h2 {
	font-family: 'PT Sans', 'Courier New', 'Arial', sans-serif;
	font-size: 36px;
	margin:60px 0 40px 0;
}


.block_ytastnik>div{
	float:left;
	width:22%;
	text-align: center;
}

.block_ytastnik.one>div{
	margin:0 11% 0 0;
}

.block_ytastnik.two>div{
	margin:0 0 0 11%;
}

.block_ytastnik p{
	padding:20px 0;
}

.arrong.left{
	float:left;
	margin:0 0 -30px 20px;
}

.arrong.right{
	float:right;
	margin:0 20px -30px 0;
}

.block_ytastnik.two img{
	display: block;
    margin: 0 auto;
    clear: both;
}

.kontact_komanda{
	margin:100px 30px 60px 30px;
}


@media only screen and (max-width: 1280px){

	body{
		line-height: 1.2;
	}
	

	.info_about.one>div {
	    margin: 45px 0;
	}

	.info_about.two>div {
   		margin: 45px 0;
	}

	
}

@media only screen and (max-width: 360px) {

	h1 {
		border-top: none;
	}

	.conteiner {
		width: 100%;
	}

	.local_title {
		font-size: 24px;
		font-weight: bold;
		line-height: 1;
		padding: 0;
		margin-bottom: 30px;
	}

	.info_about.one {
		display: flex;
		flex-direction: column;
		background-color: #fff;
	}

	.info_about>div {
		padding: 0;
	}

	.info_about>img {
		width: 100%;
		order: 2;
		margin-bottom: 38px;
	}

	.info_about.one>div {
		width: 90%;
		order: 1;
		margin: 0;
		padding-left: 12px;
		margin-bottom: 35px;
	}

	.info_about.one>div>p {
		width: 100%;
		font-size: 18px;
		line-height: 22px;
		color: #181818;
	}

	.info_about .local_h2 {
		font-size: 20px;
		line-height: 1;
	}

	.info_about.two h2 {
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
	}

	.info_about.two>div {
		margin: 0;
		width: 100%;
		padding-left: 12px;
		margin-bottom: 35px;
	}

	.info_about.two>div>p {
		margin: 0;
		width: 90%;
	}

	.info_about.two>img {
		display: none;
	}

	.block_ytastnik.one>div {
		margin-bottom: 35px;
	}

	.block_ytastnik.two>div {
		margin-bottom: 35px;
	}

	.block_ytastnik.three>div {
		margin-bottom: 35px;
	}

	.block_ytastnikam h2 {
		font-size: 20px;
		line-height: 24px;
		margin: 0;
		margin-bottom: 35px;
	}

	.block_ytastnik p {
		font-size: 18px;
		line-height: 20px;
		color: #0f0f0f;
	}

	.block_ytastnik.one {
		display: flex;
		flex-direction: column;
	}
	.block_ytastnik.one>div {
		width: 100%;
	}

	.block_ytastnik.two {
		display: flex;
		flex-direction: column;
	}

	.one {
		order: 1;
	}

	.two {
		order: 3;
	}

	.three {
		order: 5;
	}

	.four {
		order: 2;
	}

	.five {
		order: 4;
	}

	.six {
		order: 6;
	}

	.arrong {
		display: none;
	}

	.block_ytastnik.two>div {
		margin: 0;
		width: 100%;
		margin-bottom: 35px;
	}
	.kontact_komanda {
		margin: 0;
		margin-top: 35px;
		padding-left: 15px;
		padding-right: 15px;
		width: 220px;
		line-height: 22px;
		margin-bottom: 35px;
	}

	.kontact_komanda a {
		display: inline-block;
		width: 200px;
	}

	footer {
		padding: 0;
	}

	.footer-wrapper {
		display: flex;
		flex-wrap: wrap;
		padding-left: 15px;
		padding-right: 15px;
	}

	.footer-wrapper p {
		font-size: 14px;
		line-height: 18px;
	}

	footer .footer_info-1 {
		width: 170px;
		margin-left: 0;
	}

	footer .footer_info-2,
	footer .footer_info-3 {
		margin: 0;

	}

	.footer-wrapper .logo {
		display: none;
	}

	.footer-bottom {
		padding-left: 15px;
		padding-right: 15px;
	}

	.footer-bottom .footer-bottom__left {
		margin-right: 0;
	}

	.footer-bottom .footer-bottom__left p:first-child {
		margin-bottom: 0;
	}

	.footer-bottom .footer-bottom__right p {
		margin-bottom: 0;
	}

	.footer-bottom-2 {
		flex-direction: column;
	}
}