   /*Блок с центральной фото и дублями пунков меню, переход на страницы 
   мы и стань одним из нас*/
.banner{
	width:100%;
	height:630px;
	margin:0 auto;
	background: url("../images/foto_2.jpg") no-repeat center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	text-transform: uppercase;
	font-size:46px;
}

.slogon{
	width:60%;
	height: 100%;
	float:left;
}

.slogon p{
	margin-top: 65%;
    margin-left: 30px;
    color: #fff;
}

.menu_double{
	height: 50%;
	float:left;
	margin-left: 60px;
}

.menu_double a{
	text-decoration: none;
	color:#2d2d2d;
} 

.menu_double p{
	margin-top: 60%;
	width:260px;
}

.menu_double.our p {
    margin-top: 20%;
}

.menu_double span{
	font-size: 40px;
    margin-left: 20px;
}

.menu_double a:hover{
	color:#dd950a;
}

/*Блок главным контентом "Почему"*/

.main, section{
	margin-top:90px;
	overflow: hidden;
}

article{
	width: 100%;
	margin-bottom: 30px;
	float:left;
	text-align: justify;
}

h2{
	font-size: 36px;
}

.main h2 span{
	color:#dd950a;
	text-transform: uppercase;
}

.info_liga h2{
	width:38%;
	float:left;
	margin-left: 5%;
	margin-right: 1%;
}

.info_liga:nth-child(2){
	line-height: 50px;
}

.info_liga.one h2{
	line-height: 50px;
}

.info_liga.two h2{
	line-height: 50px;
}

.info_liga.three h2{
	line-height: 70px;
}

.info_liga p{
	display:block;
	width:56%;
	float:left;
}


/*Блок "Твои возможности"*/


section>h2{
	text-align:center;
	margin-bottom:80px;
}


section>h2>span{
	text-transform: uppercase;
}

.program_gallery{
	font-family: 'Ubuntu', 'Courier New', 'Arial', sans-serif;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
}

.program_gallery img{
	position: relative;
	width: 400px;
}

.program_name{
	text-align: center;
    width: 400px;
    height: 70px;
    padding-top: 20px;
    margin-top: -94px;
    position: absolute;
    z-index: 2;
    background-color: rgba(246, 246, 246, 0.76);
	transition: all 0.4s ease;
}

.program:hover .program_name{
    margin-top: -250px;
    height: 234px;
     padding-top: 10px;
    background-color: rgba(224, 184, 10, 0.57);
    
}

.program_name p{
	font-size: 24px;
	line-height:1.0;
	transition: all 0.1s ease;
}

.program:hover .program_name p{
	font-size: 36px;
	padding:0px 15px 15px 15px
}

.program_name a{
	width:100px;
	display: block;
	margin:0 auto;
	padding:10px;
	text-decoration: none;
	color:#2d2d2d;
	border:2px solid #2d2d2d;
    transform: scale(0);
    transition: all 0.4s ease;
}

.program:hover .program_name a{
	transform: scale(1);
}

.program{
	margin-bottom: 30px;
}

/*Блок "Наши партнеры"*/

.partners-logo-row {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
	margin-bottom: 30px; 
}

.partners-logo-item {
	height: 90px;
	width: ;
	display: flex;
	opacity: 0.9;
}

.partners-logo-item:hover{
	opacity: 1.0;	
}


.partners-logo-item img {
	margin: auto;
	max-height: 90px;
	min-height: 70px;
	max-width:180px ;
	min-width:80px ;
}

/*Блок с картой для сайта*/

.maps{
	background-color: #fff;
}
