  
/*Блок с главным контентом*/

.conteiner{
	padding: 0 30px 30px 30px;

}

h1{
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
	padding: 30px 0;
	border-top:2px solid #acacac;
	border-bottom:2px solid #acacac;
	font-weight: 400;
}

h2{
	font-family: 'PT Sans', 'Courier New', 'Arial', sans-serif;
	font-size: 34px;
	margin:0 0 20px 0;
}

h3{
	margin-top:30px;
}


.info_about{
	clear:both;
	width:100%;
	text-align: justify;
	text-indent:25px;
}

.info_about>div{
	width:48%;
	float:left;
	margin:30px 0;

}

.info_about>img{
	width:50%;
	float:left;
}

.info_about.one>div,.info_about.three>div{
	padding-left:2%;
}
.info_about.two>div{
	padding-right:2%;
}

.info_about>div>p{
	margin:10px 0;

}

.info_about.two>img{
	position:relative;
}


.info_about.two>p{
	width: 40%;
    position: absolute;
    margin-top: 400px;
    left: 53%;
    z-index: 3;
    text-indent: 0px;
    font-size: 24px;
    color: WHITE;
    font-style: italic;
    font-family: sans-serif;
}



.image_text{

}


