  
/*Блок с главным контентом*/

.conteiner{
	height: 100%;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

}

h1{
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
	padding: 30px 0;
	border-top:2px solid #acacac;
	border-bottom:2px solid #acacac;
	font-weight: 400;
}

h2{
	font-family: 'PT Sans', 'Courier New', 'Arial', sans-serif;
	font-size: 34px;
	margin:0 0 20px 0;
}

h3{
	margin-top:30px;
}


.info_about{
	clear:both;
	width:100%;
	text-align: justify;
	text-indent:25px;
}

.info_about>div{
	width:48%;
	float:left;
	margin: 35px 0;
}


.info_about>img{
	width:50%;
	float:left;
}

.info_about.one>div,.info_about.three>div{
	padding-left:2%;
}
.info_about.two>div{
	padding-right:2%;
}

.info_about>div>p{
	margin:10px 0;

}


@media only screen and (max-width: 1280px){

	body{
		line-height: 1.2;
	}

	.info_about.one>div {
	    margin: 25px 0;
	}

	.info_about.two>div {
   		margin: 50px 0;
	}

	.info_about.three>div {
   		margin: 40px 0;
	}

}

@media only screen and (max-width: 1024px) {
	.info_about.three>div {
		margin: 0;
	}
	.info_about>div>p {
		margin: 0;
		line-height: 1.1;
	}
}

@media screen and (max-width: 1024px) {
	.info_about.one {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.info_about.one>div {
		margin: 0;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.info_about.two {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.info_about.two>div {
		margin: 0;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.info_about.three {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.info_about.three>div {
		margin: 0;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media screen and (max-width: 760px) {
	.info_about {
		padding-top: 15px;
	}

	.info_about.one {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

	}

	.info_about.one>div {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		width: 95%;
		padding: 0;
		margin-bottom: 15px;
	}

	.info_about.one>img {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		width: 100%;
	}

	.info_about.two {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.info_about.two>div {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		width: 95%;
		padding: 0;
		margin-bottom: 15px;
	}

	.info_about.two>img {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		width: 100%;
	}

	.info_about.three {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.info_about.three>div {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		width: 95%;
		padding: 0;
		margin-bottom: 15px;
	}

	.info_about.three>img {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		width: 100%;
	}

}

@media screen and (max-width: 360px) {
	.conteiner {
		padding-top: 15px;
	}

	.conteiner .info_about h2 {
		font-size: 24px;
		text-align: center;
	}

	.conteiner .info_about p {
		font-size: 16px;
	}
}