.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*.container img {
  border-radius: 50%;
}*/

.slide {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  visibility: visible;
  opacity: 1;
  max-width: 240px;

  transition: opacity 0.7s ease;
}

.transparent {
  opacity: 0;
}

.hidden {
  opacity: 0;
  position: absolute;
  top: -999999px;
}

.hiddenRight {
  transform: translateX(+600px);
}

.hiddenLeft {
  transform: translateX(-600px);
}
/*
* Creating cool pure CSS3 transfomation based arrows with smooth hover effect
*/
.slider_arrow {
  height: 4px;
  width: 40px;
  margin-top: 30px;
  top: -15px;
  position: absolute;
  background: darkgray;
  transition: 0.5s ease;
  transform: rotate(45deg);
}

/*.slider_arrow {
  height: 4px;
  width: 40px;
  margin-top: 30px;
  top: -15px;
  position: absolute;
  background: darkgray;
  transition: 0.5s ease;
  transform: rotate(45deg);
}*/

.slider_left_arrow {
  transform: rotate(-45deg);
}

.slider_top_arrow {
  transform: rotate(45deg);
}

.slider_bottom_arrow {
  transform: rotate(-135deg);
}

.slider_arrow::after {
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  background: darkgray;
  transition: 0.5s ease;
  transform: translate(19px, 19px) rotate(90deg);
}

.slider_left_arrow::after {
  transform: translate(-19px, 19px) rotate(90deg);
}

.slider_bottom_arrow::after {
  transform: translate(-19px, 19px) rotate(90deg);
}

.slider_top_arrow::after {
  transform: translate(-19px, 19px) rotate(90deg);
}

.slider_arrow_wrapper {
  width: 40px;
  height: 40px;
  position: relative;
  top: 160px;
}

.slider_arrow_wrapper:hover .slider_arrow {
  background: orange;
}

.slider_arrow_wrapper:hover .slider_arrow::after {
  background: orange;
}

.slider_arrow_wrapper:hover .slider_right_arrow {
  transform: rotate(45deg) scale(1.2);
}

.slider_arrow_wrapper:hover .slider_left_arrow {
  transform: rotate(-45deg) scale(1.2);
}

.slider_arrow_wrapper:hover .slider_bottom_arrow {
  transform: rotate(-135deg) scale(1.2);
}

.slider_arrow_wrapper:hover .slider_top_arrow {
  transform: rotate(45deg) scale(1.2);
}
